html{
    text-align: center;
}
body{
    background: black;
    
}
.gifWrap {
    float: left;
    margin: 10px;
    text-align: center;
    color: white;
    border: white 2px solid;
    padding: 5px;
}
#addEmotion{
    display:inline-block;
    margin:15px;
    color: white;
}
form{
    text-align: center;
}

#emotionInput{
    border-radius: 15px;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
    margin-top:20px;
    
}
#gifButtons{
    text-align: center;
}
.emotionButton{
    margin: 15px;
    color: white;
    border-bottom: rgb(97, 2, 116) 2px;
    border-top: rgb(97, 2, 116) 2px;
    
}
button, #addEmotion{   
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 50px;
    border-bottom: rgb(97, 2, 116) 2px;
    border-top: rgb(97, 2, 116) 2px;
  }
  h4{
      color: black;
      font-size: 20px;
      color: white;
      
  }
  h4, button, #addEmotion, .emotionButton, #emotionInput{
    font-family: 'Archivo Black', sans-serif;
    
  }
  #displayGifs{
      text-align: center;
      padding-left:75px;
      border: 2px white solid;
      
  }
  #emotions{
    clear: both;
  }
  
